@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: roman;
    src: url(./assets/Roman.woff);
}

@font-face {
    font-family: media;
    src: url(./assets/Mediu.woff);
}


#page3::-webkit-scrollbar{
    display: none;
}
